body{
  margin: 0;
  padding: 0;
  margin-top: 0;
}

.btn{
  color: white;
  background: rgba(230, 230, 260, 0.6);
  border-color: rgba(230, 230, 260, 0.6);
  border: none;
  border-style: none;
  outline: none;
  height: 30px;
  font-size: 100%;
}

.btn:hover{
  background: rgba(200, 200, 260, 0.65);
  outline: none;
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}

button{
  margin-left: 5px;
}

.city{
  padding-left: 0;
  width: 20%;
}

.container {
  margin: 0 auto;
  padding: 40px;
  width: 80%;
}

#enterLocation{
  height: 150%;
}

form {
  margin-top: 10px;
  height: 100%;
  margin-left: 0;
}

h1, .mainText{
  margin-top: 0;
  margin-left: 0;
  font-size: 250%;
  font-family: 'Cabin', sans-serif;
  margin-bottom: 1%;
}

 h1:hover {
    text-shadow: 2px 2px 8px rgba(230, 230, 260, 0.6);
}

h2 {
  margin-top: 1%;
}

img {
  height: 30%;
  width: 30%;
  max-width: 30%;
  margin-left: 0;
}

#location {
  width: 35%;
  height: 30px;
  font-size: 100%;
}

.mainText{
  color: black;
  text-align: center;
}

#mixCol{
  padding:0;
  margin-left: 0.5%;
  margin-top: 1.5%;
  height: 60px;
}

#mix-display{
  padding: 0;
  width: 100%;
  display: inline-block;
}

#mixRow{
  margin-left: 0;
  padding: 0;
  margin-top: 8%;
  height: 60px;
}

nav{
  margin-bottom: 10%;
}

.navbar {
  background: rgba(260, 260, 260, 0.6);
  color: white;
  z-index: 0;
  padding-bottom: 10px;
}

#navTitle{
  margin-left: 0;
}

#noPad{
  padding: 0;
}

.panel{
  background: rgba(260, 260, 260, 0.2);
}

#player-col{
  max-width: 92%;
}

#results{
  max-height: 100px;
}

#skipButton{
  background-color: #333;
  border-color: #101418;
  border: 1px;
   font-family: Open Sans,sans-serif;
   font-size: 100%;
  color: #d1d1d1;
  width: 60px;
  height: 60px;
  font-size: 15px;
  padding: 0;
  margin-left: 1px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  }

.temp{
  max-width: 20%;
  height: 10%;
  padding-right: 0;  
}

#tempRow{
  max-height: auto;
  height: 20%;
}

#video-background {
  margin-top: 0;
    position: fixed;
    right: 0;
    bottom: 0;
    background-size: cover;
    z-index: -100;
    min-height: 100%;
    min-width: 100%;
    background-position: center;
}

#weatherText{
  color: white;
  font-size: 10pt;
}

#whatText{
  color: rgba(260, 260, 260, 0.9);
  text-align: center;
  font-size: 300%;
  margin-top: 10%;
}

#wordColor{
  color: rgba(260, 260, 260, 0.6);
}

/*---------------------MEDIA QUERIES----------------------------------*/
/*TODO from here down, we have to hide the #get-location id... 
  /* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
#get-location{
  display: none;
}

#mixRow{
  margin-left: 0;
  padding: 0;
  margin-top: 24%;
  height: 60px;
}

h1, .mainText{
  margin-top: 0;
  margin-left: 0;
  font-size: 450%;
  font-family: 'Cabin', sans-serif;
  margin-bottom: 1%;
}

input {
  height: 500%;
}

.btn{
  color: white;
  background: rgba(230, 230, 260, 0.6);
  border-color: rgba(230, 230, 260, 0.6);
  border: none;
  border-style: none;
  outline: none;
  height: 40px;
  font-size: 140%;
}

#location {
  width: 30%;
  height: 40px;
  font-size: 140%;
}

#weatherText{
  color: white;
  font-size: 10pt;
}

}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) and (max-device-width : 812px){
/* Styles */
#get-location{
  display: none;
}

#mixRow{
  margin-left: 0;
  padding: 0;
  margin-top: 24%;
  height: 60px;
}

h1, .mainText{
  margin-top: 0;
  margin-left: 0;
  font-size: 450%;
  font-family: 'Cabin', sans-serif;
  margin-bottom: 1%;
}

.btn{
  color: white;
  background: rgba(230, 230, 260, 0.6);
  border-color: rgba(230, 230, 260, 0.6);
  border: none;
  border-style: none;
  outline: none;
  height: 40px;
  font-size: 140%;
}


h2{
  font-size: 250%;
}

#location {
  width: 30%;
  height: 40px;
  font-size: 140%;
}

#weatherText{
  color: white;
  font-size: 10pt;
}
}

/*iPHone X (landscape)*/

@media only screen and (min-device-width : 375px) and (max-device-width : 812px) and (orientation : landscape) {
#get-location{
  display: none;
}

#mixRow{
  margin-left: 0;
  padding: 0;
  margin-top: 23%;
  height: 60px;
}

h1, .mainText{
  margin-top: 0;
  margin-left: 0;
  font-size: 350%;
  font-family: 'Cabin', sans-serif;
  margin-bottom: 1%;
}

#weatherText{
  color: white;
  font-size: 10pt;
}

.btn{
  color: white;
  background: rgba(230, 230, 260, 0.6);
  border-color: rgba(230, 230, 260, 0.6);
  border: none;
  border-style: none;
  outline: none;
  height: 40px;
  font-size: 140%;
}

#location {
  width: 30%;
  height: 40px;
  font-size: 140%;
}
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
#get-location{
  display: none;
}

#mixRow{
  margin-left: 0;
  padding: 0;
  margin-top: 21%;
  height: 60px;
}

h1, .mainText{
  margin-top: 0;
  margin-left: 0;
  font-size: 350%;
  font-family: 'Cabin', sans-serif;
  margin-bottom: 1%;
}

#weatherText{
  color: white;
  font-size: 10pt;
}

.btn{
  color: white;
  background: rgba(230, 230, 260, 0.6);
  border-color: rgba(230, 230, 260, 0.6);
  border: none;
  border-style: none;
  outline: none;
  height: 40px;
  font-size: 140%;
}

#location {
  width: 30%;
  height: 40px;
  font-size: 140%;
}
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
#get-location{
  display: none;
}

#mixRow{
  margin-left: 0;
  padding: 0;
  margin-top: 25%;
  height: 60px;
}

h1, .mainText{
  margin-top: 0;
  margin-left: 0;
  font-size: 450%;
  font-family: 'Cabin', sans-serif;
  margin-bottom: 1%;
}

.btn{
  color: white;
  background: rgba(230, 230, 260, 0.6);
  border-color: rgba(230, 230, 260, 0.6);
  border: none;
  border-style: none;
  outline: none;
  height: 40px;
  font-size: 140%;
}

#location {
  width: 30%;
  height: 40px;
  font-size: 140%;
}

#weatherText{
  color: white;
  font-size: 10pt;
}
}

/* iPad PRo ------- */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {

#get-location{
  display: none;
}

    #mixRow{
  margin-left: 0;
  padding: 0;
  margin-top: 23%;
  height: 60px;
}

h1, .mainText{
  margin-top: 0;
  margin-left: 0;
  font-size: 450%;
  font-family: 'Cabin', sans-serif;
  margin-bottom: 1%;
}

.btn{
  color: white;
  background: rgba(230, 230, 260, 0.6);
  border-color: rgba(230, 230, 260, 0.6);
  border: none;
  border-style: none;
  outline: none;
  height: 40px;
  font-size: 140%;
}

#location {
  width: 30%;
  height: 40px;
  font-size: 140%;
}

#weatherText{
  color: white;
  font-size: 10pt;
}
}




